<!DOCTYPE html>
<html lang="en">
<head>
    <title>YOUR-PROJECT-NAME</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="title" content="yourProject" />
</head>
<body>
<div class="main-container"></div>
</body>
</html>
